body {
    background-color: #fafdff;
    font-family: 'Ubuntu';
}

canvas {
    cursor: pointer;
}

small {
    color: blue;
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50x;
    align-content: space-between;
    margin: 0 5px;
    gap: 15px;
}

#title {
    align-items: center;
}

#header {
    display: flex;
}

#directions {
    margin-right: 50px;
}

.UI {
    justify-content: space-around;
    flex: 1;
}

#container {
    position: relative;
    width: 100%;
}

#puzzle {
    position: relative;
    display: flex;
}

#container::selection {
    background-color: none;
}

#guide {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#guide img {
    width: 100%;
    height: 100%;
    opacity: 35%;
}

#tiles {
    display: flex;
    flex-wrap: wrap;
}

#tiles canvas {
    margin: 10px;
}

#win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.8);
    transition: 400ms ease-in;
    pointer-events: none;
    opacity: 0;
}

#win.show {
    opacity: 1;
    pointer-events: auto;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.5em;
}


.mb-2 {
    margin-bottom: 2.5em;
}
