body {
    background-color: #fafdff;
    font-family: 'Ubuntu';
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50x;
    justify-content:space-between;
    margin: 0 5px;
}

.UI {
    justify-content: space-around;
    flex: 1;
}

#container {
    align-items: center;
    width: 100%;
}

#puzzle {
    position: relative;
    display: flex;
}

::selection {
    background-color: none;
}

#guide {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#guide img {
    width: 100%;
    height: 100%;
    opacity: 0%;
}

#guide.shown img {
    opacity: 35%;
}

#tiles {
    display: flex;
    flex-wrap: wrap;
}

#tiles canvas {
    margin: 10px;
    cursor: pointer;
}
